.series {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &_container {
    margin: 8px 16px;
    padding: 0;
    width: 220px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $mainShadow;
    border-radius: 8px;
    border: none;

    &--title {
      padding-top: 4px;
      font-size: 16px;
      flex-wrap: wrap;
      color: $backgroundColor;
    }
    &--img {
      width: 200px;
    }
  }
}

.favorite {
  .series {
    &_container {
      background-color: $backgroundColor;
      &--title {
        color: $mainColor;
      }
    }
  }
}
