.grid {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  .series {
    width: 70%;
  }
  .favs-section-container {
    width: 30%;
  }
}

//js - card
.favorite {
  background-color: $backgroundColor;
  .series_container--title {
    color: $mainColor;
  }
}

.favs-section-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .favorites-series {
    .series {
      &_container {
        height: 150px;
        margin: 14px 0;
        &-main {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
        }
        &--title {
          color: $mainColor;
        }
        &--img {
          width: 100px;
          height: 150px;
        }
      }
      &-x {
        font-weight: bold;
        cursor: pointer;
        color: $fontColor;
        margin-top: 16px;
      }
    }
  }
  .favorites_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &--text {
      font-size: 16px;
      margin-left: 16px;
      padding-bottom: 8px;
      color: $fontColor;
      text-transform: uppercase;
    }
    &--reset {
      font-size: 16px;
      color: $fontColor;
      cursor: pointer;
    }
  }
}
