.grid {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  .series {
    width: 70%;
  }
  .favorites-series {
    width: 30%;
  }
}

.favorite {
  background-color: $backgroundColor;
  .series_container--title {
    color: $mainColor;
  }
}

.favorites-series {
  padding-top: 60px;
  .series {
    &_container {
      background-color: $backgroundColor;
      &--title {
        color: $mainColor;
      }
    }
  }
}
